
/*WEB Contest 的相关表单*/
#content #mkcon{
	width:58%;
	margin:20px auto 0 auto;
}
#content #mkcon p{
	margin:4 auto;
}
#content #mkcon .timeinfo input{
	width:40px;
}
#content #mkcon #webconname{
	width:414px;
	margin-left:11px;
}
#content #mkcon #contesttype{
	margin-left:11px;
}
#content #mkcon #webyear{
	margin-left:36px;
}
#content #mkcon #weblday{
	margin-left:21px;
}
#content #mkpro{
	width:30%;
	margin:auto;
}
#content #mkpro h1{
	font-size:16px;
}
#content #mkpro #webspid{
	margin-left:40px;
	width:40px;
}
#content #mkpro #webtpid{
	margin-left:87px;
	width:40px;
}
#content #login{
	margin:20px auto;
	text-align:center;
}
/* Panel对象的css */
div.panel_content {
	height: auto;
	background: url(/images/panel-content.png) repeat-y;
	margin: 0;
	padding: 0 20px;
	font-size: 14px;
	font-family: Times New Roman;
	text-align: left
}
div.panel_title {
	height: 38px;
	background: transparent url(/images/panel-title.png) left bottom no-repeat;
	padding: 0 14px;
	color: #7CA9ED;
	font-size: 18px;
	font-family: Arial;
	font-weight: bold
}
div.panel_bottom {
	height: auto;
	margin: 0;
	background: url(/images/panel-bottom.png) left top no-repeat
}
div.panel_content pre {
	margin: 0;
	font-size: 14px
}
div.panel_content p{
	margin:0px;
	padding:0px;
}
div.panel_content div{
	margin:0px;
	padding:0px;
}
/* 高亮显示的项 */
#highlight_item{
	light:expression(onmouseover=function(){this.style.backgroundColor="#D7EBFF"},onmouseout=function(){this.style.backgroundColor="transparent"}) 
}
